<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Hello! I am <a href="https://www.linkedin.com/in/mihirmkale/"><em>Mihir Kale.</em></a>
  This is the sample jobs application made in Ruby on Rails.
</p>
