<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Thank you for having a look at my sample jobs app made in Ruby on Rails.
  <br/>
  My email address is kale001@cougars.csusm.edu
  <br/>
  My contact number is (619)709-8216.
  <br/>
  <br/>
  <br/>
  Kind regards,
  <br/>
  Mihir Kale
</p>
