<% provide(:title, @applicant.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <p>
        <h1>User Type: <%= @applicant.type %></h1>
      </p>

      <p>
        <h1>Name: <%= @applicant.name %></h1>
      </p>

      <p>
        <h1>Email: <%= @applicant.email %></h1>
      </p>
      <p>
        <%= link_to 'Edit', edit_applicant_path(@applicant) %> |
        <%= link_to 'Back', applicants_path %>
      </p>
    </section>
  </aside>
</div>

<table>
  <caption><h3>Employers</h3></caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Application status</th>
    </tr>
  </thead>

  <tbody>
    <% Employer.all.each do |employer| %>
      <tr>
        <td><%= employer.name %></td>
        <td><%= employer.email %></td>
        <% unless current_user.employers.include? employer %>
          <td><%= button_to 'Apply', apply_path(:employer_id => employer.id) %></td>
        <% else %>
          <td>Already applied!</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
