<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <p>
        <h1>User Type: <%= @user.type %></h1>
      </p>

      <p>
        <h1>Name: <%= @user.name %></h1>
      </p>

      <p>
        <h1>Email: <%= @user.email %></h1>
      </p>
    </section>
  </aside>
</div>
