<% provide(:title, @employer.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <p>
        <h1>User Type: <%= @employer.type %></h1>
      </p>

      <p>
        <h1>Name: <%= @employer.name %></h1>
      </p>

      <p>
        <h1>Email: <%= @employer.email %></h1>
      </p>
      <p>
        <%= link_to 'Edit', edit_employer_path(@employer) %> |
        <%= link_to 'Back', employers_path %>
      </p>
    </section>
  </aside>
</div>

<table style="width:50%">
  <caption>Your Applicants</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @employer.applicants.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
